/*TAGS*/
body {
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
    color: white;
}

.caixa-header {
    background-color: rgb(0, 0, 121);
    height: 200px;
    width: 200px;
    border: solid 10px;
    padding: 20px;
}

.caixa-main {
    background-color: red;
    height: 200px;
    width: 200px;
    border: solid 20px;
    margin-left: 260px;
}

.caixa-footer {
    background-color: green;
    height: 200px;
    width: 200px;
    border: solid 10px;
    margin-left: 500px;
}