/*TAGS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
 1em = 16px
*/

body {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 100%;
    text-align: center;
    color: #40514E;
}

h1 {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 2;
    font-size: 5.625em;
    margin: 0 auto;
    color: #66BFBF;
    margin-bottom: 10px;
}

h2,
h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-size: 2.5rem;
    font-style: normal;
    color: #11999E;
}

p {
    line-height: 2;
    margin-top: 30px;
}

hr {
    border: dotted #000 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;

}

/*CLASSES*/

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 121);
}

.cerebro1 {
    margin-left: 50%;
}

.cerebro2 {
    margin-right: 50%;
}

.header-p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-size: 2em;
    font-style: normal;
    color: #66BFBF;
}

.middle-container {
    margin: 100px auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    margin-bottom: 10%;
}

.imgdigitando {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.imgsubindo {
    width: 25%;
    float: right;
    margin-left: 30px;
}