body {
  background-color: #173a6e;
}

h1,
h2,
h3 {
  text-align: center;
  color: rgb(255, 255, 255);
}

hr {
  border-style: solid;
  width: 100%;
}

table,
tr,
td,
th {
  border: 2px solid;
  color: white;
}

td {
  text-align: center;
}

table {
  border-spacing: 6px;
  background-color: rgba(0, 0, 0, 0.589);
}

.center-table {
  margin-left: auto;
  margin-right: auto;
}

.brasilflag {
  width: 150px;
  height: 195px;
  filter: saturate(1.5);
}

.brasilflag:hover {
  cursor: pointer;
  animation: trocar-cor-brasil 2s linear infinite;
}

@keyframes trocar-cor-brasil {
  0% {
    filter: drop-shadow(0 0 7mm rgb(0, 214, 0));
  }

  50% {
    filter: drop-shadow(0 0 7mm rgb(255, 230, 0));
    transform: scale(1.05);
  }

  100% {
    filter: drop-shadow(0 0 7mm rgb(0, 214, 0));
  }
}

.espanhaflag {
  width: 150px;
  height: 195px;
  filter: saturate(1.5);
}

.espanhaflag:hover {
  cursor: pointer;
  animation: trocar-cor-espanha 2s linear infinite;
}

@keyframes trocar-cor-espanha {

  0% {
    filter: drop-shadow(0 0 7mm rgb(255, 217, 0));

  }

  50% {
    filter: drop-shadow(0 0 7mm rgb(255, 60, 0));
    transform: scale(1.05);
  }

  100% {
    filter: drop-shadow(0 0 7mm rgb(255, 217, 0));
  }
}

.portugalflag {
  width: 150px;
  height: 195px;
  filter: saturate(1.5);
}

.portugalflag:hover {
  cursor: pointer;
  animation: trocar-cor-portugal 2s linear infinite;
}

@keyframes trocar-cor-portugal {

  0% {
    filter: drop-shadow(0 0 7mm rgb(255, 0, 0));
  }

  50% {
    filter: drop-shadow(0 0 7mm rgb(255, 136, 0));
    transform: scale(1.05);
  }

  100% {
    filter: drop-shadow(0 0 7mm rgb(255, 0, 0));
  }
}

.francaflag {
  width: 150px;
  height: 195px;
  filter: saturate(1.5);
}

.francaflag:hover {
  cursor: pointer;
  animation: trocar-cor-franca 2s linear infinite;
}

@keyframes trocar-cor-franca {
  0% {
    filter: drop-shadow(0 0 7mm rgb(0, 47, 255));
  }

  50% {
    filter: drop-shadow(0 0 7mm rgb(255, 255, 255));
    transform: scale(1.05);
  }

  100% {
    filter: drop-shadow(0 0 7mm rgb(0, 47, 255));
  }
}

.copas {
  filter: drop-shadow(0 0 5px rgb(255, 196, 0));
}

.copas:hover {
  cursor: default;
  filter: drop-shadow(0 0 5px rgb(255 196 0));
  transition: all 0.3s ease-in-out;
  transform: scale(1.5);
}

.ruim {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  filter: drop-shadow(0 0 5px rgb(255, 0, 0));
  color: red;
}

.ruim:hover {
  cursor: default;
  filter: drop-shadow(0 0 5px rgb(255 0 0));
  transition: all 0.3s ease-in-out;
  transform: scale(1.5);
}

.bola {
  display: inline-block;
  animation: bola-girando 0.7s linear infinite;
}

@keyframes bola-girando {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}