@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

button {
    cursor: pointer;
}

header {
    width: 100vw;
    height: 6vh;
    background-color: rgb(131, 131, 131);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin-left: 2rem;
    color: white;
    text-shadow:
        1px 1px 5px red,
        -1px 1px 5px green,
        1px -1px 5px blue,
        -1px -1px 5px green;
}

#headerButtons {
    display: flex;
    width: 10rem;
    height: 100%;
}

.btnHeader {
    width: 5rem;
    margin: 0.1rem;
    background: none;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.btnHeader:active {
    transform: scale(0.9);
    color: white;
}

main {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

h2 {
    font-size: 2rem;
}

#colorText {
    font-size: 2rem;
}

#btnChangeColor {
    margin-top: 1rem;
    padding: 0.5rem;
    background: white;
    border: solid 2px black;
    border-radius: 20px;
}

#btnChangeColor:active {
    transform: scale(0.97);
    box-shadow: inset 0px 0px 10px rgb(80, 80, 80);
}

footer {
    width: 100vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(131, 131, 131);
    color: white;
}