* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(0, 0, 0);
    height: 10%;
    width: 100%;
    text-align: center;
}

h1 {
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    color: yellow;
    text-align: center;
    border: solid 3px;
    border-radius: 18px;
    filter: drop-shadow(0 0 7mm yellow);
}


main {
    background-color: rgb(56, 55, 55);
    height: 100%;
    width: 100%;
}

h2 {
    margin-bottom: 5%;
    text-align: center;
    padding-top: 5%;
    font-size: 350%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: yellow;
    font-weight: bold;
    text-decoration: underline yellow;
    -webkit-text-stroke: 3px black;
}

h2:hover {
    cursor: default;
    filter: drop-shadow(0 0 7mm yellow);
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}

.main-kid {
    display: flex;
    flex-direction: row;
    position: relative;
}

img {
    height: 200px;
    width: 250px;
    border-radius: 150px;
    border: solid;
    filter: drop-shadow(0 0 5mm white);
}

.foto-kid {
    position: relative;
    left: 10%;
}

.texto-kid {
    position: relative;
    left: 12%;
}

h3 {
    padding-top: 5%;
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 150%;
    color: white;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pkid {
    font-size: 120%;
    color: white;
    font-style: oblique;
}

.main-padawan {
    display: flex;
    flex-direction: row;
    position: relative;
}

.foto-padawan {
    position: relative;
    left: 22%;
}

.texto-padawan {
    position: relative;
    text-align: end;
    left: 20%;
}

.ppadawan {
    font-size: 120%;
    color: white;
    font-style: oblique;
}

.main-anger {
    display: flex;
    flex-direction: row;
    position: relative;
}

.foto-anger {
    position: relative;
    left: 10%;
}

.texto-anger {
    position: relative;
    left: 12%;
}

.panger {
    font-size: 120%;
    color: white;
    font-style: oblique;
}

.main-vader {
    display: flex;
    flex-direction: row;
    position: relative;
}

.foto-vader {
    position: relative;
    left: 22%;
}

.texto-vader {
    position: relative;
    text-align: end;
    left: 20%;
}

.pvader {
    font-size: 120%;
    color: white;
    font-style: oblique;
}